@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">2024</h1>
</div>

    <table class="center">
      <tr>
        <td style="border-style: none; background-color: white;">&nbsp;</td>
        <th colspan="5">Jun</th>
        <th colspan="5">Jul</th>
        <th colspan="4">Aug</th>
        <th colspan="5">Sep</th>
        <th colspan="4">Oct</th>
        <th colspan="4">Nov</th> 
        <th colspan="5">Dec</th>
      </tr>
      <tr>
        <td class="leftCol">Sunday</td>
        <td class="grey">&nbsp;</td>
       @foreach(var day in Model.sundays){
          <td class="@day.Color"></td>
       }
      </tr>
      <tr>
        <td class="leftCol">Monday</td>
        <td class="grey">&nbsp;</td>
        @foreach(var day in Model.mondays){
          <td class="@day.Color"></td>
       }
      </tr>
      <tr>
        <td class="leftCol">Tuesday</td>
        <td class="grey">&nbsp;</td>
        @foreach(var day in Model.tuesdays){
          <td class="@day.Color"></td>
        }
      </tr>
      <tr>
        <td class="leftCol">Wednesday</td>
        <td class="grey">&nbsp;</td>
        @foreach(var day in Model.wednesdays){
          <td class="@day.Color"></td>
        }
      </tr>
      <tr>
        <td class="leftCol">Thursday</td>
        <td class="grey">&nbsp;</td>
        @foreach(var day in Model.thursdays){
          <td class="@day.Color"></td>
        }
      </tr>
      <tr>
        <td class="leftCol">Friday</td>
        <td class="grey">&nbsp;</td>
         @foreach(var day in Model.fridays){
          <td class="@day.Color"></td>
        }
      </tr>
      <tr>
        <td class="leftCol">Saturday</td>
         @foreach(var day in Model.saturdays){
          <td class="@day.Color"></td>
        }
      </tr>
    </table> 

<br/><br/>
    <form method="post" asp-page-handler="Commit">
      <p>Enter New Commit: </p>
      <p><textarea id="txt_input" name="description" rows="5" cols="45"></textarea></p>
      <p><input type="submit"/></p>
    </form>
    <form method="post" asp-page-handler="ToDo">
      <p>Enter New To-Do Item:</p>
      <p><textarea id="txt_toDoInput" name="description" rows="5" cols="45"></textarea></p>
      <p><input type="submit"/></p>
    </form>