@page
@model ToDoModel
@{
    ViewData["Title"] = "To Do List";
}
<h1>@ViewData["Title"]</h1>


@foreach(var toDo in Model.toDos)
{
    <div>
        <p>@toDo.ToDoDate</p>
        <p>
            @toDo.Description   
            &nbsp;&nbsp;&nbsp;&nbsp; 
            <b style="color:@toDo.getStatusColor();">@toDo.getStatus()</b>
            &nbsp;&nbsp;&nbsp;&nbsp; 
             <form method="post" asp-page-handler="MarkAsDone" asp-route-id="@toDo.Id" style="display:inline;">
                <button type="submit" class="btn btn-success">Mark as Done</button>
            </form>
            @if(toDo.isCurrentTask){
                <b style="display:inline;">This is the current task!</b>
            }
            else{
            <form method ="post" asp-page-handler="MarkAsCurrent" asp-route-id="@toDo.Id" style="display:inline;">
                <button type="submit" class="btn btn-success">Mark As Current</button>
            </form> 
            }  
            <form method="post" asp-page-handler="Delete" asp-route-id="@toDo.Id" style="display:inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form> 
        </p>
    </div>
}